{% load static %}
{% load recipe_time %}

<!DOCTYPE html>
<html>
	<head>
		<title>DSCI641 Recipe Recommender</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'recipes/style.css' %}" />
		<script src="https://kit.fontawesome.com/4b01eb49dd.js" crossorigin="anonymous"></script>
	</head>
	<body>
		{% include 'recipes/navbar.html' %}

		<div class="container pt-2 pb-4">
			{% if page_obj %}
			<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 h-100">
			{% for recipe in page_obj %}
			<a href="/recipes/{{ recipe.id }}/" class="text-decoration-none">
				<div class = "col">
					<div class="card recipe-card">
						{% if recipe.images != "character(0" %}
							<img class = "card-img-top object-fit-cover" src = {{ recipe.images }} />
						{% else %}
							<img class = "card-img-top object-fit-cover" src = 'https://upload.wikimedia.org/wikipedia/en/3/34/Food-com-logo.png' style = "object-fit:cover" />
						{% endif %}
						<div class="card-body px-2 d-flex flex-column">
							<h5 class="card-title">{{ recipe.name|safe }}</h5>
								<div class="d-flex mt-auto justify-content-between">
									{% if recipe.review_count != 0 %}
									<div><i class="fa-solid fa-star"></i> {{ recipe.aggregated_rating }} ({{ recipe.review_count }})</div>
									{% else %}
									<div></div>
									{% endif %}
									<div><i class="fa-solid fa-clock"></i> {{ recipe.minutes|recipe_time }}</div>
								</div>
							
						</div>
					</div>
				</div>
				</a>
					<!-- <li><a href="/recipes/{{ recipe.id }}/">{{ recipe.name }}</a></li> -->
			{% endfor %}
			</div>
			{% else %}
			<p>No recipes are available.</p>
			{% endif %}

			<!-- Pagination -->
			<div class="pagination d-flex my-4 justify-content-center text-center">
			{% if page_obj.has_previous %}
				<a href="?page=1"><button class="btn"><i class="fa-solid fa-angles-left"></i></button></a>
				<a href="?page={{ page_obj.previous_page_number }}"><button class="btn"><i class="fa-solid fa-angle-left"></i></button></a>
			{% else %}
				<button class="btn invisible"><i class="fa-solid fa-angles-left"></i></button>
				<button class="btn invisible"><i class="fa-solid fa-angle-left"></i></button>
			{% endif %}

			<div class="text-center my-auto mx-2">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div>

			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}"><button class="btn"><i class="fa-solid fa-angle-right"></i></button></a>
				<a href="?page={{ page_obj.paginator.num_pages }}"><button class="btn"><i class="fa-solid fa-angles-right"></i></button></a>
			{% else %}
				<button class="btn invisible"><i class="fa-solid fa-angle-right"></i></button>
				<button class="btn invisible"><i class="fa-solid fa-angles-right"></i></button>
			{% endif %}
		</div>

	</div>
	{% include 'recipes/search.html' %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
	</body>
</html>