{% load static %}
{% load recipe_time %}
{% load display_stars %}

<!DOCTYPE html>
<html>
	<head>
		<title>DSCI641 Recipe Recommender</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'recipes/style.css' %}" />
		<script src="https://kit.fontawesome.com/4b01eb49dd.js" crossorigin="anonymous"></script>
	</head>
	<body class="d-flex flex-column min-vh-100">
		{% include 'recipes/navbar.html' %}
		<div class="container pt-2 pb-4">
		{% if recs %}
			{% for rec in recs %}
		<section class="py-2">
			<div class="d-flex align-items-center">
				<h3 class="me-2 p-2">{{ rec.category|upper }}</h3>
				<div class="flex-grow-1 border-bottom border-primary border-5"></div>
			</div>

			<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-2">
			{% for recipe in rec.list %}
			<a href="/recipes/{{ recipe.id }}/" class="text-decoration-none">
				<div class = "col">
					<div class="card">
						{% if recipe.images != "character(0" %}
							<img class = "card-img-top object-fit-cover" src = {{ recipe.images }} />
						{% else %}
							<img class = "card-img-top object-fit-cover" src = '{% static 'recipes/Food-com-logo.png' %}' style = "object-fit:cover" />
						{% endif %}
						<div class="card-body recipe-card px-2 d-flex flex-column">
							<h5 class="card-title">{{ recipe.name|safe }}</h5>
							<div class="d-flex mt-auto justify-content-between">
								{% if recipe.review_count != 0 %}
								<div>{% stars recipe.aggregated_rating True False %} ({{ recipe.review_count }})</div>
								{% else %}
								<div></div>
								{% endif %}
								<div><i class="fa-solid fa-clock"></i> {{ recipe.minutes|recipe_time }}</div>
							</div>
						</div>
					</div>
				</div>
			</a>
			{% endfor %}
			</div>
			<a href="{{ rec.url }}"">
				<button type="button" class="btn btn-outline-primary btn-lg mt-3 px-4 py-2" >See More</button>
			</a>
		</section>
		{% endfor %}
			{% else %}
			<p>No recipes are available.</p>
			{% endif %}
		</div>
		{% include 'recipes/search-section.html' %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
	</body>
</html>