{% url 'recipes:index' as index %}
{% url 'recipes:browse' as browse %}
{% url 'recipes:search' as search %}

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'recipes:index' %}">
			<img height="30px" src="https://upload.wikimedia.org/wikipedia/commons/6/61/Drexel-logo.png?utm_source=commons.wikimedia.org&utm_campaign=index&utm_content=original">
		</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.path == index %}active{% endif %}" aria-current="page" href="{% url 'recipes:index' %}">Home</a>
        </li>
				<li class="nav-item">
          <a class="nav-link {% if request.path == browse %}active{% endif %}" aria-current="page" href="{% url 'recipes:browse' %}">Browse</a>
        </li>
				<li class="nav-item">
          <a class="nav-link {% if request.path == search %}active{% endif %}" aria-current="page" href="{% url 'recipes:search' %}">Search</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
           <div class="dropdown ms-auto">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="navDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Welcome, {{ user.username }}
            </button>
            <div class = "dropdown-menu" aria-labelledby = "navDropdown">
              <a class="dropdown-item" href="{% url 'recipes:reviews' %}">View Ratings</a>
              <a class = "dropdown-item" href="{% url 'recipes:logout' %}?next={{ request.path }}">Logout</a>
            </div>
          </div>
      {% else %}
          <button class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#login-modal">Login</button>
      {% endif %}
      
    </div>
  </div>
</nav>

<!-- Login Modal -->
 <div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="login-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 mx-auto">LOG IN</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 0;"></button>
      </div>
      <form action="{% url 'recipes:login' %}" method="POST">
      <div class="modal-body">
        
          {% csrf_token %}
          <div class="mb-3">
            <label for="email" class="col-form-label">EMAIL</label>
            <input id="email" type="email" class="form-control" name="email">
          </div>
          <div class="mb-3">
            <label for="password" class="col-form-label">PASSWORD</label>
            <input id="password" type="password" class="form-control" name="password">
          </div>
          <input type="hidden" name="next" value="{{ request.path }}">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
      </form>
    </div>
  </div>
</div>