<div class="container pt-2 pb-4" id="recipe-view">
	
	<section class="py-2">
		<div class="d-flex align-items-center">
			<h3 class="me-2 p-2">
				{{ page_obj.paginator.count }} RESULTS
				{% if filters_selected %}<!-- Displays any filters applied to the recipe list -->
					MATCH KEYWORD{% if filters_selected|length > 1 %}S{% endif %} 
					{% for filter in filters_selected %}<!---->
						"{{ filter|upper }}"{% if not forloop.last %}, {% endif %}<!-- -->
					{% endfor %}
				{% endif %}
			</h3>
		</div>
		{% if page_obj %}
		{% include 'recipes/recipe-display.html' with recipes=page_obj %}
		{% endif%}
	</section>
	
	<!-- Pagination -->
	<div class="pagination d-flex my-4 justify-content-center text-center">
	{% if page_obj.has_previous %}
		<a href="{% querystring page=1 %}"><button class="btn"><i class="fa-solid fa-angles-left"></i></button></a>
		<a href="{% querystring page=page_obj.previous_page_number %}"><button class="btn"><i class="fa-solid fa-angle-left"></i></button></a>
		{% else %}
		<button class="btn invisible"><i class="fa-solid fa-angles-left"></i></button>
		<button class="btn invisible"><i class="fa-solid fa-angle-left"></i></button>
		{% endif %}
		
		{% if page_obj.has_next %}
		<a href="{% querystring page=page_obj.next_page_number %}""><button class="btn"><i class="fa-solid fa-angle-right"></i></button></a>
		<a href="{% querystring page=page_obj.paginator.num_pages %}"><button class="btn"><i class="fa-solid fa-angles-right"></i></button></a>
		{% else %}
		<button class="btn invisible"><i class="fa-solid fa-angle-right"></i></button>
		<button class="btn invisible"><i class="fa-solid fa-angles-right"></i></button>
		{% endif %}
	</div>
</div>