{% extends "recipes/base.html" %}

{% block title %}DSCI641 Recipe Recommender{% endblock %}

{% block content %}
<div class="d-flex">
			<!-- Filter Sidebar -->
			<div class="d-flex flex-column flex-shrink-0 p-3">
				<h3>FILTER RECIPES</h3>
				<form action="{% url 'recipes:browse' %}" role="search" method="get">
					<div class="d-flex pt-2 pb-3 form-group filter-form-input">
						<input class="form-control me-2" type="search" name="name" aria-label="Search"/>
						<button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
					</div>
					
					<!--Season Dropdown-->
					{% for filter in filters %}
					<div class="dropdown form-group mb-2">
						<button class="btn border border-dark border-2 dropdown-toggle py-2 px-3 filter-form-input" id="{{ filter.category }}-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside">
							By {{ filter.category|title }}
						</button>
						<ul class="dropdown-menu shadow p-2 filter-form-input" aria-labelledby="{{ filter.category }}-dropdown">
							{% for choice in filter.choices %}
							<li>
								<div class="form-group form-check mx-2 my-1">
									<input class="form-check-input border border-dark border-1" type="checkbox" name="{{ filter.filters }}" value="{{ choice }}" id="{{ filter.category }}-{{ choice }}-check">
									<label class="form-check-label" for="{{ filter.category }}-{{ choice }}-check">{{ choice|title }} Recipes</label>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
				{% endfor %}
			</form>
		</div>
			<!--Page Content-->
			<main class="flex-grow-1">
				<div class="container">
					<div id="recipe-view"></div>
					
				</div>
			</main>
		</div>
{% endblock %}

{% block scripts %}
<script>
		$(document).ready(function(){
			$.ajax({
				url: "/recipes/query/",
				type: "GET",
				data: {'keywords': 'pennsylvania dutch'},
				success: function(response){
					$("#recipe-view").html(response);
				}
			});
		});
	</script>
{% endblock %}